<!DOCTYPE html>
<html lang="en">

<head>
  <title>ChefPro</title>
  <link rel="icon" type="image/x-icon" href="./assets/images/favicon.ico">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{!-- Bootstrap --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  {{!-- Linked style sheet --}}
  <link href="/assets/css/chef_style.css" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="login.html">ChefPro</a>
    
    <div>
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <a class="nav-link" href="/homepage">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/add">Add Recipe</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/search">Search Recipes</a>
          </li>
          
        </ul>
      </div>

  </nav>
  
    {{{body}}}
</body>

{{!-- jQuery --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{{!-- JavaScript for search page --}}
<script src="/js/query.js"></script>

{{!-- JavaScript for adding a recipe --}}
<script src="/js/addRecipe.js"></script>


</html>
