<h2>Add A Recipe!</h2>


<form id="" action="" method="">
    <input type="text" name="">
    <button type="submit">Add Recipe</button>
</form>

<script>

$("").on("submit", (e)=>{

    e.preventDefault();

    $.ajax({
        url: "",
        method: "",
        data: 
    }).then(()=>{
        location.reload();
    })

});


</script>